// styles.scss
$font: "IBM Plex Sans Arabic", sans-serif;
$primary: #5a2402;
$gradient: linear-gradient(180deg, #e7cfc1 0%, #e4d9b9 11%, #ede7de 22%, #e9e0cc 33%, #ffffff 76%);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font;
  margin: 0;
  padding: 0;
  direction: rtl;
  background: $gradient;
  color: #000;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0 5rem 0;

  @media (max-width: 767px) {
    width: 100%;
    padding: 5rem 20px 5rem 20px;
  }
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: clamp(56px, 10vw, 120px);
  font-weight: 700;
  text-align: center;
  color: $primary;
}

h2 {
  padding: 0;
  margin: 0 0 6rem 0;
  @media (max-width: 767px) {
    margin: 0 0 4rem 0;
  }
  font-size: clamp(40px, 6vw, 80px);
  font-weight: 700;
  text-align: center;
  color: $primary;
}

h3 {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: clamp(30px, 6vw, 40px);
  font-weight: 700;
  text-align: right;
}

.h2-title {
  position: relative;
  .underline {
    height: 15px;
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translate(50%);
  }
}

p {
  padding: 0;
  margin: 0;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 300;
  line-height: 1.7;
}

.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 100px;
    transition: background 0.3s ease;
    padding: 0.5rem 1rem;
  }

  a {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 300;
    color: #000;
    padding: 0.5rem 1.2rem;
    transition: background 0.2s;
    border-radius: 100px;
    display: block;
    text-align: center;
    &:hover {
      background: #f5f5f5;
    }
  }

  &.scrolled nav {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.hero {
  .container {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;

    @media (max-width: 767px) {
      padding-top: 8rem;
    }
  }

  .hero-title {
    position: relative;
  }
  p {
    max-width: 500px;
  }
  .star-right {
    position: absolute;
    top: -50px;
    right: -25px;
    width: clamp(50px, 8vw, 85px);
  }
}

.work {
  .ornament {
    width: 60px;
    height: 4px;
    background: $primary;
    margin: 0.5rem auto 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 100px);
    gap: 4rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(15, 100px);
      gap: 4rem;
    }
  }

  .project-img {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      object-position: top right;
    }
  }

  .egycast {
    background-color: #f0b695;
    grid-row: span 4;
  }

  .webmart {
    background-color: #9adfd5;
    grid-row: span 5;
    padding: 3rem 3rem 0 3rem;
  }

  .train-your-brain {
    background-color: #7d91e0;
    grid-row: span 4;
  }

  .lorem {
    background-color: #b877ca;
    grid-row: span 3;
  }

  .panel {
    background-color: #99dae7;
    grid-column: span 2;
    grid-row: span 3;
    width: 80%;
    margin: 0 auto;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .card {
    color: #000;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform 0.3s;
    @media (max-width: 992px) {
      grid-column: 1 / span 1;
      grid-row: span 3;
    }

    &.--right-padded {
      padding: 3rem 3rem 0 0;
    }

    &.--side-padded {
      padding: 3rem 3rem 0 3rem;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}

.about {
  .container {
    @media (min-width: 767px) {
      padding-bottom: 8rem;
    }
  }
  .about-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 4rem;

    @media (max-width: 776px) {
      gap: 2rem;
      flex-direction: column;
    }

    .img-wrapper {
      overflow: hidden;
      margin: 0;
    }

    img {
      width: 370px;
      height: 370px;
      max-width: 100%;
      max-height: 100%;
      border-radius: 500px 500px 0 0;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;

      @media (max-width: 776px) {
        width: 100%;
        border-radius: 50px 50px 0 0;
      }
    }

    .text {
      display: flex;
      gap: 4rem;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 776px) {
        align-items: center;
      }

      p {
        max-width: 500px;
        flex: 1;
        @media (max-width: 776px) {
          max-width: 100%;
        }
      }
    }

    .button {
      display: flex;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      border: 1px solid black;
      font-size: clamp(16px, 2vw, 18px);
      font-weight: 500;
      width: -moz-fit-content;
      width: fit-content;
      align-items: center;
      gap: 0.75rem;
      text-align: center;
      transition: 0.3s;

      .save-icon {
        width: 32px;
        height: 32px;
      }

      &:hover {
        background-color: $primary;
        color: #fff;
        border: none;
        .save-icon {
          color: #fff;
        }
      }

      @media (max-width: 776px) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .ornament {
    width: 60px;
    height: 4px;
    background: $primary;
    margin: 0.5rem auto 2rem;
  }
}

.contact {
  background: $primary;
  color: white;

  .arrow-ornament {
    position: absolute;
    top: 0;
    left: clamp(60px, 10vw, 180px);
    transform: translate(0, -50%);
    width: clamp(100px, 12vw, 180px);
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    @media (min-width: 767px) {
      // padding-top: 8rem;
    }
  }

  .text {
    text-align: center;
  }

  h2 {
    color: white;
    margin: 0 0 2rem 0;
  }

  p {
    max-width: 500px;
  }

  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 776px) {
      max-width: 100%;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      font-family: $font;
      outline: none;
      &::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    textarea {
      min-height: 150px;
    }

    button {
      padding: 1rem;
      background: white;
      color: $primary;
      font-size: clamp(16px, 2vw, 18px);
      font-weight: 500;
      border: none;
      cursor: pointer;
    }
  }
}

.footer {
  background: $primary;
  color: white;
  text-align: center;
  font-size: 0.9rem;

  .container {
    border-top: 1px solid;
  }

  p {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 300;
  }
}
